.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: sticky;
  top: 0;
  z-index: 1000;


  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

.logo {

  width: 100px;
}

.logo img {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  /* font-weight: bold; */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #ced0ce;
  color: #ed1c24;
}